<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <uses-feature
        android:name="android.hardware.telephony"
        android:required="false" />
    <uses-permission android:name="android.permission.SEND_SMS" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.DoctorChatbotApp"
        tools:targetApi="31">
        <activity
            android:name=".User.PaymentAnimationsActivity"
            android:exported="false" />
        <activity
            android:name=".User.UserViewMedicalInfoActivity"
            android:exported="false" />
        <activity
            android:name=".User.UserPaymentScreenActivity"
            android:exported="false" />
        <activity
            android:name=".User.MedicaneDetailsScreenActivity"
            android:exported="false" />
        <activity
            android:name=".User.AllUserMedicaneActivity"
            android:exported="false" />
        <activity
            android:name=".Admin.AdminDashboardActivity"
            android:exported="false" />
        <activity
            android:name=".ChatBotModule.ChatBotActivity"
            android:exported="false" />
        <activity
            android:name=".MedicalStore.MedicalDashboardActivity"
            android:exported="false" />
        <activity
            android:name=".Doctor.DoctorChatActivity"
            android:exported="false" />
        <activity
            android:name=".User.UserChatActivity"
            android:exported="false" />
        <activity
            android:name=".Doctor.DoctorDashboardActivity"
            android:exported="false" />
        <activity
            android:name=".DoctorModule.PatientCreateActivity"
            android:exported="false" />
        <activity
            android:name=".Admin.AdminProfileActivity"
            android:exported="false" />
        <activity
            android:name=".Doctor.DoctorProfileActivity"
            android:exported="false" />
        <activity
            android:name=".User.UserProfileActivity"
            android:exported="false" />
        <activity
            android:name=".User.UserDashboardActivity"
            android:exported="false" />
        <activity
            android:name=".registration.ForgotPasswordActitvity"
            android:exported="false" />
        <activity
            android:name=".registration.FillYourProfileActivity"
            android:exported="false" />
        <activity
            android:name=".registration.SignupActivity"
            android:exported="true" />
        <activity
            android:name=".registration.LoginActivity"
            android:exported="false" />
        <activity
            android:name=".registration.RegistrationOptionsActivity"
            android:exported="false" />
        <activity
            android:name=".splashscreen.SplashScreenActivity2"
            android:exported="false" />
        <activity
            android:name=".onBoardingScreen.OnBoardingActivity"
            android:exported="false" />
        <activity
            android:name=".splashscreen.SplashScreen"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="false" />
    </application>

</manifest>